@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600&display=swap');

/*--------------------General */

body {
    font-family:'Lexend Deca', sans-serif;
    margin: 0;
    padding: 0;
}

/*--------------------Navbar */

.navbar {
    position: relative;
    background-color: #ff6600;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-link,
.navbar-brand {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 1.875rem;
 }

/*-------------------Hero Image  */
#hero-image {
    height: 600px;
    width: 100%
    background: url("..images/new-york-skyline.jpg") no-repeat center
    center
}

/*--------------------Footer */

.social-media-links {
    background-color: #003884;
    color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0;
    height: 75px;
    padding-top: 20px;
    padding-right: 20px;
}

ul {
    list-style-type: none;
}

.fa {
    color:#ffffff;
}

