@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Poppins:wght@400;500;600&display=swap');

/* --------------------------------------------------- Global site */
body {
    background-color: #ffac75 !important;
    border: 0;
    box-sizing: border-box;
    color:#002561;
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;    
}

html {
    scroll-behavior: smooth;
}

/* -----------------------------------------------------------------Headings */
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;    
}

h3 {
    color:#002561 !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding-top: 20px;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-transform: uppercase;
}

 h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}   

h5 {
    color: #002561 !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

/* ------------------------------------------------------------------ Paragraph */
.aerial-view-new p {
    padding-bottom: 5px;
    padding-top:10px;
    text-align: center;
}

.free-tips-box p,
.discounted-tips-box p {
    color: #002561;
    text-align: center;
}

.card-body p {
    text-align: center;
}

.footer-container p {
    color: #fff;
    text-align: center;
    word-spacing: 2px;
}

/* ------------------------------------------------------------------ Buttons */
.activity-header a.btn {
    border: #002561 solid 2px;
    border-radius: 25%;
    padding-right: 10px;
}

/* --------------------------------------------------------------- Navbar */
.navbar {
    background-color: #002561;
    padding-top: 0px;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;  
    padding-left: 20px;
    text-transform: uppercase;
}

.navbar-nav {
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    padding-right: 15px;
    padding-left: 15px;
    text-transform: uppercase;
}

.navbar-nav a:hover {
    background-color: #ffac75;
    border: greenyellow 2px solid;
}

/* -------------------------------------------------------------------Hero Image Container */
.hero-section {
    position: relative;
}

#hero-image {
    background-image: url("../images/liberty2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    overflow-x: visible;
  }
  
#hero-text h1 {
    color:#ffac75;
    font-family: 'Poppins', sans-serif;   
    font-size: 2.5rem;
    font-weight: 500;
    left: 50%; 
    letter-spacing: 2px;
    padding-top: 60px;
    position: absolute;
    text-align: center;
    top: 50%; 
    transform: translate(-50%, -50%); 
  }

#hero-text-overlay {
    width: 65%;
    height: 75%;
    background-color: rgba(255, 255, 255, 0.15);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
/* ------------------------------------------------------------------ Intro Container */
.aerial-view-new {
    background: url("../images/aerial-view2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid  #ffac75;
    border-radius: 25px;
    min-height: 200px;
}

.intro-text {
    padding-top: 10px;
    text-align: center;
}

/* --------------------------------------------------------------------Icon Container */
.icon-container {
    display: flex;
    flex-direction: row;
}

.icons {
    align-items: center; 
    justify-content: center;
    padding-bottom: 20px;    
}
#icon-captions {
    align-items: center;
    justify-content: center;
    padding-top: 45px;
    padding-left: 20px;
    padding-bottom: 50px;
    text-align: center;
}

/* -------------------------------------------------------------------- Tips Container */

.discounted-tips-box {
    background-color: #cfdaf2;
}

.free-tips-box {
    background-color: #98f698;  
}

.discounted-tips-box,
.free-tips-box {
    border: 3px solid #ffac75;
    border-radius: 25px;
    color: #ffffff;
    line-height: 20px;  
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;  
}

.activity-header a.btn {
    width: 50%;
}

/* .activity-header h5,
.activity-header a.btn {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
} */

/* .activity-header h5 {
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
} */

/* -------------------------------------------------------------------- Form Container */
.form-container {
    padding: 20px 12px;
}

.centre-form {
    border: 3px solid #002561;
    border-radius: 25px;
    margin: 0 auto;
    max-width: 70%;
    padding: 20px;
}

/* -------------------------------------------------------------------- Gallery Container */
.gallery-container {
    padding-bottom: 30px;
}

.card-img-top {
    border-radius: 50px;
    padding: 20px;
}

.card {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* -------------------------------------------------------------------- Footer Container */
.footer-container {
    background-color: #002561;
    flex-direction: row;
    min-height: 60px;
    text-align: center;
}

.thrifty-email {
    justify-content: center;
    padding-top: 15px;
    text-align: center;
}

.social-links li {
    display: inline-block;
    justify-content: center;
    margin-right: 20px;
    text-align: center;
}

/* ---------------------------------------------------------------------Media Queries */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
#hero-text h1 {
    padding-top: 40px;
}

.free-tips-icons {
    border-bottom: 20px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
#hero-image {
    height: 80vh;
}

#hero-text h1 {
    font-size: 4.5rem;
}

#hero-text-overlay {
    top: 55%;
}


h2 {
    padding-bottom: 30px;
    padding-top: 30px;
}

.centre-form {
    min-height: 240px;
    max-width: 70%;
    padding-bottom: 30px;
} 
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
#hero-image {
     height: 100vh;
}

#hero-text h1 {
    font-size: 5rem;
}

#hero-text-overlay {
    top: 55%;
}


h2 {
    padding-bottom: 50px;
    padding-top: 50px;
}

h5 {
    font-size: 1.5rem;
}


.centre-form {
    max-width: 80%;
    min-height: 240px;
    padding-top: 30px;
}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
#hero-image {
    height: 100vh;
}

#hero-text h1 {
    font-size: 5.5rem;
}

#hero-text-overlay {
    top: 55%;
}


h5 {
    font-size: 1.5rem;
}
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
#hero-image {
    height: 100vh;
}

#hero-text h1 {
    font-size: 6.5rem;
    padding-top: 0;
}

#hero-text-overlay {
    top: 50%;
}

.icon-container {
    justify-content: center;
}

h5 {
    font-size: 1.5rem;
}
}